/* Font Face imports*/
@font-face {
    font-family: "Brandon Grotesque Bold";
    src: url('../fonts/Brandon_bld.otf');
}

@font-face {
    font-family: "Brandon Grotesque Light";
    src: url('../fonts/Brandon_light.otf');
}

@font-face {
    font-family: "Brandon Grotesque Medium";
    src: url('../fonts/Brandon_med.otf');
}

body{
    font-family: "Brandon Grotesque Medium", sans-serif;
}

header, main, footer {
    padding-left: 275px;
    padding-top: 10%;
}

.side-nav{
    width: 275px;
    padding-top: 10%;
    background-color: #4ECEDF;
}
.side-nav li {
    text-align: left;
    font-size: 1em;
    padding-left: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.side-nav li a{
    color: #FFFFFF;
    font-size: 1.05em;
    font-family: "Brandon Grotesque Light", sans-serif;
    letter-spacing: 0.05em;
}

.side-nav li a:hover{
    text-decoration: none;
    background-color: #4ECEDF;
    color:#FFE74C;
}
.table-of-contents a.active{
    border-left-color: #FFE74C;
}

.table-of-contents a:hover{
    border-left-color: #FFE74C;
}

#navlogo{
    max-width: 75%;
    padding: 0 32px;
}

#navtitle{
    font-size: 1.5em;
    font-family: "Brandon Grotesque Bold", sans-serif;
    letter-spacing: .05em;
    margin: 10px auto 10px auto;
}

#content{
    margin-left: 275px;
}

.content-section{
    padding: 10%;
}

#intro{
    padding-top: 25%;
}

#about{
}

#intro-line{
    font-size: 3em;
    letter-spacing: .02em;
}

#bio{
    font-size: 1.75em;
    font-family:"Brandon Grotesque Light", sans-serif;
}

.blue-accent{
    color: #4ECEDF;
}

.about-layout{
    margin-bottom: 2em;
}

h3{
    font-family: "Brandon Grotesque Medium", sans-serif;
    font-size: 1.5em;
    color: #4ECEDF;
    padding: 0;
}

.about-dtl{
    font-family: "Brandon Grotesque Light", sans-serif;
}

.about-layout a{
    text-decoration: none;
    color: #4ECEDF;
}

#profpic{
    border-radius: 50%;
    width: 30%;
    float:left;
}

#right-side{
    width: 60%;
    margin-left: 5%;
    float: right;
    font-size: 1.1em;
}

.work-card{
    position: relative;
    display: block;
    max-width: 100%;
}

.work-card img{
    max-width: 100%;
    
}

.work-overlay{
    position: absolute;
    top: 0;
    height: 97.75%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(78, 206, 223, 1);
    
    text-align: center;
    color: white;
}

.work-card:hover .work-overlay {
  opacity: 1;
}

.work-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.dtl-title{
    font-family: "Brandon Grotesque Bold", sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    color: #FFE74C;
}

.dtl-sub{
    font-size: 1em;
    padding: 5px auto 5px auto;
    font-family: "Brandon Grotesque Medium", sans-serif;
}

.dtl-nrm{
    font-size: 0.9em;
    font-family: "Brandon Grotesque Light", sans-serif;
    margin-top: 10%;
}

#resumepdf img{
    max-width: 60%;
    display: block;
    margin: -10% auto;
}

#back{
    font-size: 1em;
    color: #FFE74C;
    margin: -10% auto;
}

.project-summary, ol{
    font-size: 1.15em;
    font-family: "Brandon Grotesque Light", sans-serif;
}

.project-summary a{
    color: #4ECEDF;
}

.project-summary img{
    max-width: 100%;
}

.img-gallery{
    display: block;
    max-width: 100%;
}

.img-gallery img{
    max-width: 45%;
    padding: 5px;
    margin: 0 auto;
}
/*code pen animation */
html,body {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

#wrap {
  display: table;
  width:100%;
  height:100%;
}

#wrap-inner {
  display: table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
}

#scrolldown {
    display: block;
    position: relative;
    padding-top: 79px;
  text-align:center;
}
.arrowdown {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrowdown:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #FFE74C;
    border-right: 2px solid #FFE74C;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#scroll-title {
    display: block;
    text-transform: uppercase;
    color: #FFE74C;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size:14px;
  font-weight:bold;
  letter-spacing:.1em;
}
#scrolldown::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -2px;
    width: 2px;
    height: 68px;
    background: #FFE74C;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    #content{
        margin-left: 0;
    }

}